# Path to GGUF model
LLM_MODEL_PATH=./models/tinyllama-1.1b-chat-v1.0.Q4_K_M.gguf


# Embeddings model
EMBEDDINGS_MODEL=sentence-transformers/paraphrase-multilingual-MiniLM-L12-v2


DB_PATH=./ayush.db
INDEX_PATH=./vector_store/faiss.index
HF_HOME=./models_cache
MAX_TOKENS=512
TEMPERATURE=0.3