# requirements.txt for HerboAI
pip>=24.0
setuptools>=65.5.0
wheel>=0.42.0
numpy==1.26.4 --only-binary=:all:
pandas==2.2.2 --only-binary=:all:
scipy==1.13.1 --only-binary=:all:
flask==3.0.3
spacy==3.7.4
transformers==4.43.4
sentence-transformers==2.7.0
fpdf2==2.7.9
torch==2.3.1
sentencepiece==0.2.0 
sacremoses==0.1.1
argostranslate
### INSTALL MANUALLY ###
#pip install vosk==0.3.45 --no-deps
langdetect==1.0.9
pyspellchecker==0.6.2
